$color-white: #fff;
$color-black: #000000;

$color-grey-light: #f7f7f7;
$color-grey: #eee;

$text-color-light: #737373;
$text-color-dark: #292929;

$dark-light: #7f8084;
$dark-dark: #262526;

// black gradient background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%),
// radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
// background-blend-mode: multiply,multiply;

//black grad 2
// background-image: linear-gradient(to left, #BDBBBE 0%, #9D9EA3 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
//  background-blend-mode: normal, lighten, soft-light;

//black gradient 3
// background-image: linear-gradient(to right, #434343 0%, black 100%);

//black gradient 4
// background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
//  background-blend-mode: multiply;