.dev {
    // width: 100%;

    &__heading {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__icon {
        width: 3rem;
        height: 3rem;
        margin-left: 3rem;
        fill: $dark-dark;
    }

    &__subtitle {
        font-size: 2.1rem;
        color: $text-color-dark;
        font-family: 'Sofia', cursive;
        text-align: center;
    }

    &__container {
        display: grid;
        padding: 5vw;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
        grid-row-gap: 3rem;
        grid-column-gap: 3rem;
    }

    &__icon-box {
        border-radius: 1rem;
        padding: .5rem;
    }

    &__figure {
        width: 50%;
        height: 5rem;
        margin: 0 auto;
    }

    &__tool-icon {
        height: 100%;
        width: 100%;
        object-fit: cover;
        display: block;
    }

    &__icon-title {
        font-size: 1.3rem;
        width: min-content;
        margin: 0 auto;
        color: $text-color-light;
        font-weight: 700;
        white-space: nowrap;
    }
}