.section-heading {
    font-size: 4rem;
    text-shadow: 2px 2px 5px rgba(150, 150, 150, 1);
    letter-spacing: 2px;

    @media only screen and (max-width: 830px){
        font-size: 3rem;;
    }

    @media only screen and (max-width: 500px){
        font-size: 2.3rem;
    }

    @media only screen and (max-width: 356px){
        font-size: 1.9rem;
    }
}